.layout {
  z-index: 999;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

.layout > a {
  width: 80%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  text-decoration: none;
}

@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

.contentTitle {
  padding: 20px;
  font-size: 25px;
  font-weight: bold;
  color: blue;
  width: 100%;
  text-align: center;
  background: #e6ecf3;
  font-family: GmarketSansMedium;
}
