.mcalendar {
  display: grid;
  grid-template-areas:
    '. scroller'
    'subjects scroller';
  grid-template-rows: 30px;
  grid-template-columns: 60px;
  width: 100%;
  min-height: calc(100vh - 121px);
}

.months {
  grid-area: months;
  display: grid;
  grid-template-columns: minmax(40px, 200px);
  grid-auto-columns: minmax(40px, 200px);
  grid-auto-flow: column;
}

.months > * {
  display: flex;
  justify-content: center;
  align-items: center;
}

.subjects {
  grid-area: subjects;
  display: grid;
  grid-auto-rows: 40px;
  grid-auto-flow: row;
}

.scroller {
  grid-area: scroller;
  display: flex;
  flex-direction: column;
  overflow-x: scroll;
}

.data {
  grid-area: data;
  display: grid;
  grid-template-columns: minmax(40px, 200px);
  grid-auto-columns: minmax(40px, 200px);
  grid-auto-rows: 40px;
  grid-auto-flow: row;
  padding-top: 1em;
}

.red {
  background-color: #f56262 !important;
}

.yellow {
  background-color: #d8dc6a !important;
}

.orange {
  background-color: #fccf2e !important;
}

.purple {
  background-color: #995d81 !important;
}

.gray {
  background-color: #999999 !important;
}

.blue {
  background-color: #6689a1 !important;
}

.btncolor {
  background-color: #de6b3d !important;
}

.t {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85%;
  border-radius: 0.3em;
  color: white;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.subject {
  font-size: 1em;
  color: #333333;
}

.dot {
  border-radius: 1em;
  width: 0.6em;
  height: 0.6em;
  margin-right: 0.5em;
  display: inline-block;
}
.year {
  font-size: 1.2em;
  font-weight: 400;
  position: relative;
  display: flex;
  width: 6em;
  justify-content: space-between;
}

.year > div:nth-child(2) {
  flex: 1 0 0;
  width: 300%;
  display: flex;
  overflow: hidden;
  position: relative;
}

.year > div:first-child,
.year > div:last-child {
  flex-basis: 1em;
  flex-grow: 0;
}
.year > div:last-child {
  display: flex;
  justify-content: flex-end;
}

.yearview > div {
  position: absolute;
  display: flex;
  width: 300%;
}
.yearview > div > div {
  flex: 1 0 0;
}

.toorigin {
  transform: translateX(-33.3%);
}

.toleft {
  transition: transform 0.5s;
  transform: translateX(0);
}

.toright {
  transition: transform 0.5s;
  transform: translateX(-66.6%);
}
.needle {
  width: 1px;
  height: 100%;
  background-color: #000000;
  margin-top: 0em;
}

.needledot {
  border-radius: 1em;
  width: 0.6em;
  height: 0.6em;
  transform: translateX(-0.3em);
  margin-top: -1em;
}

.flex {
  display: flex;
}
.flexcolumn {
  display: flex;
  flex-direction: column;
}
.flexchild {
  flex: 1 1 auto;
}

.scrollable {
  overflow: scroll;
}

.clickable {
  cursor: pointer;
}

.disabled {
  opacity: 0.5;
}

.smallfont {
  font-size: 0.8em;
}
.bigfont {
  font-size: 1.2em;
}

.ellipse {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: auto;
}

.bar {
  height: 0.5em;
  width: 100%;
}

.floatingbutton {
  position: fixed;
  width: 56px;
  height: 56px;
  bottom: 70px;
  right: 28px;
  background-color: #de6b3d;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.14), 0px 1px 10px rgba(0, 0, 0, 0.12);
  border-radius: 28px;
  font-size: 28px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.form {
  line-height: 24px;
  box-sizing: border-box;
}

.form * {
  box-sizing: border-box;
}

.form > * {
  margin-bottom: 12px;
}

.formheader {
  box-sizing: border-box;
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5em 0;
  border-bottom: 1px solid #cccccc;
}
.formheader > * {
  flex: 0 0 1.2em;
  line-height: 60px;
  text-align: center;
}
.formheader > *:nth-child(2) {
  flex: 1 0 0;
}

.forminput {
  appearance: none;
  max-width: 100%;
  max-width: 600px;
  margin: 0;
  border: 1px solid black;
  border-radius: 8px;
  padding: 1em;
  margin-bottom: 32px;
  min-height: 56px;
}
.rawinput {
  margin: 0;
  padding: 0;
  border: 0;
}
.forminput:placeholder-shown {
  color: #999999;
  border-color: #999999;
}

.formselect {
  width: 100%;
  position: relative;
}

.formselect > .forminput {
  width: 100%;
}

.formdropdown {
  max-width: 100%;
  max-width: 600px;
  margin: 0;
  border: 1px solid #111111;
  border-radius: 8px;
  padding: 1em;
  margin-bottom: 32px;
  transition: max-height 5s ease;
}

.formdropdown-open {
  max-height: 1000em;
  overflow: hidden;
}

.formdropdown-closed {
  max-height: 0;
  margin: 0;
  border: 0;
  padding: 0;
}
.forminput::invalid {
  color: #999999;
}

.btn {
  padding: 0;
  border: 0;
  margin: 0;
  width: 100%;
  height: 60px;
  border-radius: 30px;
  background-color: #999999;
  color: white;
  -webkit-text-stroke: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hollow {
  background: white;
  border: 2px solid #de6b3d;
  color: #de6b3d;
}

.smallbtn {
  padding: 0;
  border: 0;
  margin: 0;
  width: 100%;
  height: 40px;
  border-radius: 30px;
  background-color: #999999;
  color: white;
  -webkit-text-stroke: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.selectarrow {
  clip-path: polygon(50% 55%, 100% 15%, 100% 0, 50% 40%, 0 0, 0 15%);
  background-color: #999999;
  width: 1.5em;
  height: 1.5em;
}

.bigtext {
  font-size: 24px;
  line-height: 36px;
  -webkit-text-stroke: 1px;
}
.lessbigtext {
  font-size: 22px;
  line-height: 33px;
  -webkit-text-stroke: 1px;
}

.table {
  display: flex;
  flex-direction: column;
  margin-bottom: 36px;
}
.table > * {
  box-sizing: border-box;
  display: flex;
  padding: 0.8rem;
  justify-content: space-between;
  align-items: center;
  min-height: 40px;
  font-size: 0.9em;
}

.table > *:first-child {
  background-color: #999999;
  color: white;
  display: initial;
  font-size: 1em;
}

.table > *:first-child > img {
  margin-right: 8px;
}

.c {
  display: grid;
  grid-template-areas:
    '. months'
    'hours grid';
  grid-template-rows: 30px 1fr;
  grid-template-columns: 60px 1fr;
  width: 100%;
}
.c_months {
  grid-area: months;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-flow: column;
  grid-gap: 1px;
  background-color: #9d9d9d;
  border-left: 1px solid #9d9d9d;
  border-right: 1px solid #9d9d9d;
}
.c_months > div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}
.c_subjects {
  grid-area: hours;
  display: flex;
  flex-direction: column;
}
.c_subjects > div {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.c_grid {
  grid-area: grid;
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  grid-auto-rows: 40px;
  grid-auto-flow: row;
  grid-column-gap: 1px;
  background-color: #9d9d9d;
  border-left: 1px solid #9d9d9d;
  border-right: 1px solid #9d9d9d;
}
.c_grid > div {
  background-color: white;
}

.m_c {
  display: grid;
  grid-template-areas:
    '. m-days'
    'm-hours m-grid';
  grid-template-rows: 66px 1fr;
  grid-template-columns: 84px 1fr;
  width: 100%;
}
.m_days {
  grid-area: m-days;
  display: grid;
  grid-template-columns: repeat(7, minmax(0, 1fr));
  grid-auto-flow: column;
  grid-gap: 1px;
  background-color: #9d9d9d;
  border-left: 1px solid #9d9d9d;
  border-right: 1px solid #9d9d9d;
}
.m_days > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: #999999;
}
.m_hours {
  grid-area: m-hours;
  display: flex;
  flex-direction: column;
}
.m_hours > div {
  height: 60px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  transform: translateY(-0.5em);
  color: #999999;
}
.m_grid {
  grid-area: m-grid;
  display: grid;
  grid-template-columns: repeat(7, minmax(0, 1fr));
  grid-auto-rows: 60px;
  grid-auto-flow: row;
  grid-column-gap: 1px;
  background-color: #9d9d9d;
  border-left: 1px solid #9d9d9d;
  border-right: 1px solid #9d9d9d;
}
.m_grid > div {
  background-color: white;
}
.scroller {
  grid-area: scroller;
  display: flex;
  flex-direction: column;
  overflow-x: scroll;
}

.mc {
  display: grid;
  grid-template-areas:
    '. mc-grid'
    'mc-hours mc-grid';
  grid-template-rows: 65px 1fr;
  grid-template-columns: 60px 1fr;
  width: 100%;
}

.mc-hours {
  display: flex;
  grid-area: mc-hours;
  flex-direction: column;
  justify-content: space-between;
  font-size: 0.8em;
  color: #999999;
}

.mc-hours > div {
  line-height: 1.2em;
  transform: translateY(-0.6em);
}

.mc-grid {
  display: flex;
  flex-direction: column;
  grid-area: mc-grid;
}

.mc-grid-dates {
  height: 65px;
}

.mc-grid-info {
  display: grid;
  grid-template-rows: repeat(24, 60px);
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 1px;
  background-color: #e3e3e3;
}
.mc-grid-info > div {
  background-color: white;
}

.mc-grid-needle {
  height: 1px;
  width: 100%;
  background-color: #000000;
}

.mc-grid-needledot {
  border-radius: 1em;
  width: 0.6em;
  height: 0.6em;
  transform: translateX(-0.3em);
}

.mc-grid-activedate {
  background-color: #e5e5e5;
}

.mc-grid-block {
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.sm * {
  box-sizing: border-box;
}

.sm {
  position: fixed;
  top: calc(100vh - 0.8em);
  transform: 0;
  transition: transform 0.4s;
  width: 100%;
  z-index: 2;
}

.sm-button {
  width: 2em;
  height: 0.4em;
  margin: 0 auto 0.4em;
  /* bg/LightGray */

  background: #f7f7f7;
  border-radius: 16px;
  text-align: center;
}

.sm-container {
  width: 100%;
  min-height: 80vh;
  background: #f7f7f7;
  border-radius: 16px 16px 0px 0px;
  display: flex;
  flex-direction: column;
  padding: 24px;
}

.sm-open {
  transform: translateY(calc(-100% + 0.8em));
}
.sm-title {
  margin-bottom: 16px;
}
.sm-divider {
  background: #373737;
  border-radius: 10px;
  display: flex;
  padding: 14px;
  margin-bottom: 32px;
}

.sm-divider > div {
  flex: 1 0 0;
  text-align: center;
  color: white;
}

.sm-divider:first-child {
  border-left: 1px solid #c4c4c4;
}

.sm-subtitle {
  font-size: 0.9em;
  margin-bottom: 5px;
}

.sm-table {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
}

.sm-table > div {
  min-height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #c4c4c4;
}

.sm-table > div > div {
}
.checkbtn {
  width: 24px;
  height: 24px;
  border: 2px solid #999999;
  box-sizing: border-box;
  border-radius: 4px;
  flex: 0 0 24px;
}

.ws {
  padding: 20px;
}

.ws_timetable {
  display: flex;
  flex-direction: column;
  padding: 12px 12px;

  border: 1px solid #cccccc;
  box-sizing: border-box;
  border-radius: 8px;
}

.ws_timetable > div {
  height: 33px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ws_timetable > div:last-child {
  border-top: 1px solid #999999;
  -webkit-text-stroke: 1px;
}

.ws_table {
  display: flex;
  flex-direction: column;
}
.ws_table > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 12px 12px;
}

.dc {
  display: flex;
}
.dc_hours {
  display: flex;
  flex-basis: 60px;
  flex-direction: column;
}
.dc_hours > div {
  transform: translateY(-0.6em);
  line-height: 1.2em;
  font-size: 0.8em;
  color: #999999;
  height: 44px;
}
.dc_grid {
  flex: 1 0 0;
  display: grid;
  padding: 0 14px;
  grid-template-rows: repeat(24, 44px);
  grid-template-columns: 1fr;
}
.dc_selected {
  border: 1px solid #de6b3d;
  box-sizing: border-box;
  border-radius: 10px 10px 0px 0px;
}
.dc_card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.5em;
}
.dc_card > div:first-child {
  font-size: 0.9em;
  -webkit-text-stroke: 1px;
}
.dc_card > div {
  font-size: 0.8em;
}
.smalldot {
  height: 0.3em;
  width: 0.3em;
  border-radius: 0.3em;
  background-color: black;
  display: inline-block;
  margin: 0 0.2em 0.2em;
}
